<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMIA PE Dashboard</title>
    <!-- Include SPADE CSS links -->
    {% include 'htmls/templates/spade_html_css_links.html' %}

    <style>

        .box-primary {
            padding-bottom: 5px;
        }

        .box-primary h2 {
            margin-left: 10px;
        }

        .inner h1, .inner h2, .inner h3, .inner h4 {
            /*Code to break lines long sentences in inner (used in small boxes)*/
            word-wrap: break-word;
            word-break: break-all;
            overflow-wrap: break-word;
            white-space: normal;
        }

        /*Add your own CSS style code*/
        .info-box-text {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 24px;
        }

        /* Progress Bar */
        .progress {
            margin: 20px auto;
            height: 5px !important;
        }

        .progress-bar, .info-box .progress .progress-bar {
            background-color: #00a65a !important;
        }

        .table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-top: 10px;
            table-layout: fixed;  /* Force consistent column sizing */
        }

        .table th, .table td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;

            word-wrap: break-word;
            word-break: break-all;
            overflow-wrap: break-word;
            white-space: normal;
        }

        .table th {
            background-color: #f2f2f2;
            color: #333;
        }

        .table tbody tr:hover {
            background-color: #f5f5f5;
        }

        .options-container {
            float: right;
            display: flex;
            gap: 10px;
        }

        .expandable {
            cursor: pointer; /* Make the cursor pointer for the expandable elements */
        }

        .expand-icon {
            /*cursor: pointer;*/
            color: #2d688a;
            float: right;
        }

        .expand-icon:hover {
            color: #3C8DBC;
        }

        .select-button {
            background-color: #d16c18;
            border: none;
            color: white;
            font-size: 12px;
            font-weight: bold;
            transition: background-color 0.3s;
            text-transform: uppercase;
        }

        .select-button:hover {
            background-color: #8c4711;
        }

        .subtable {
            display: none;
            margin-left: 2px;
            margin-top: 10px;
        }

        .subtable .capability-info {
            width: 98%;
            margin-bottom: 10px;
            border-collapse: collapse;
            background-color: #fff;
            border: 1px solid #ccc;
            margin-left: 2px;
        }


    </style>
</head>
<body class="sidebar-mini skin-blue" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <header class="main-header">
            {% include 'htmls/templates/spade_html_header.html' %}
        </header>
        <aside class="main-sidebar">
            {% include 'htmls/templates/spade_html_aside.html' %}
        </aside>
        <div class="content-wrapper" style="min-height: 960px;">
            <section class="content-header">
                <h1>SMIA Human Interface Dashboard</h1>
                <ol class="breadcrumb">
                    <li><a href="/spade"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">SMIA HI Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Row with information about the operator-->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">SMIA HI operator information</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="row small-boxes-div">
                                    <div class="col-lg-3 col-xs-7">
                                        <!-- small box -->
                                        <div class="small-box bg-orange">
                                        <!-- There are multiple colors: https://basscss.com/v7/docs/background-colors/ -->
                                            <div class="inner">
                                                <h3> 2 </h3>
<!--                                                TODO RECOGERLO DEL AGENTE-->
                                                <p>Detected Capabilities</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fas fa-stream"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./col -->

                                    <div class="col-lg-3 col-xs-7">
                                        <!-- small box -->
                                        <div class="small-box bg-aqua">
                                        <!-- There are multiple colors: https://basscss.com/v7/docs/background-colors/ -->
                                            <div class="inner">
                                                <h3> 2 </h3>
<!--                                                TODO RECOGERLO DEL AGENTE-->
                                                <p>Detected Skills</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fas fa-indent"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./col -->

                                    <div class="col-lg-5 col-xs-7">
                                        <div class="info-box bg-gray">
                                            <span class="info-box-icon"><i class="fas fa-tasks"></i></span>

                                            <div class="info-box-content">
                                                <div class="inner">
                                                    <h4 class="info-box-text">Tasks</h4>
                                                </div>

                                                <div class="progress progress-sm active">
                                                    <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 70%"></div>
                                                </div>
                                                <span class="progress-description">
                                                    70% completed
                                                </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- ./row -->
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->


                </div>
                <!-- ./row -->

                <!-- Row with received and completed tasks by the operator-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">SMIA HI received tasks</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Capability</th>
                                            <th>Requested time</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task_id, task_info in agent.received_css_tasks.items() %}
                                        <tr class="expandable" data-capability-id="{{ task_id }}">
                                            <td>{{ task_info['capName'] }}</td>
                                            <td>{{ task_info['requestedTime'] }}</td>
                                            <td>
                                                <div class="options-container">
                                                    <button class="btn btn-sm btn-primary select-button">Done</button>
                                                    <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="subtable {{ task_id }}">
                                            <td colspan="3">
                                                <div class="capability-info">
                                                    <ul>
                                                        <li><i>Constraints: </i>
                                                            <ul>
                                                                {% for constName, constValue in task_info['constraints'].items() %}
                                                                <li>{{ constName }}: {{ constValue }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><i>Skill parameters: </i>
                                                            <ul>
                                                                {% for paramName, paramValue in task_info['skillParams'].items() %}
                                                                <li>{{ paramName }}: {{ paramValue }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">SMIA HI completed tasks</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Capability</th>
                                            <th>Requested time</th>
                                            <th>Completed time</th>
                                            <th style="width: 6%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task_id, task_info in agent.completed_css_tasks.items() %}
                                        <tr class="expandable" data-capability-id="{{ task_id }}">
                                            <td>{{ task_info['capName'] }}</td>
                                            <td>{{ task_info['requestedTime'] }}</td>
                                            <td>{{ task_info['completedTime'] }}</td>
                                            <td>
                                                <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                            </td>
                                        </tr>
                                        <tr class="subtable {{ task_id }}">
                                            <td colspan="3">
                                                <div class="capability-info">
                                                    <ul>
                                                        <li><i>Constraints: </i>
                                                            <ul>
                                                                {% for constName, constValue in task_info['constraints'].items() %}
                                                                <li>{{ constName }}: {{ constValue }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><i>Skill parameters: </i>
                                                            <ul>
                                                                {% for paramName, paramValue in task_info['skillParams'].items() %}
                                                                <li>{{ paramName }}: {{ paramValue }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- ./row -->

            </section>
            <!-- /.content -->
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.2.4
            </div>
            <strong>Copyright © {% now 'local', '%Y' %} <a href="https://github.com/ekhurtado/SMIA" target="_blank">SMIA</a>.</strong>
        </footer>

    </div>
    <!-- Include SPADE scripts -->
    {% include 'htmls/templates/spade_html_scripts.html' %}

    <script>
        // Here some JS code can be added
        document.addEventListener('DOMContentLoaded', function() {
            const expandIcons = document.querySelectorAll('.expandable');
            expandIcons.forEach(icon => {
                icon.addEventListener('click', function() {

                    // Prevent expansion if the click is on the request button
                    if (!event.target.classList.contains('request-button')) {

                        const parentRow = this.closest('tr');
                        const subtableClass = parentRow.getAttribute('data-file-id') || parentRow.getAttribute('data-capability-id') || parentRow.getAttribute('data-skill-id');
                        const subtableRows = document.querySelectorAll(`.subtable.${subtableClass}`);

                        subtableRows.forEach(row => {
                            row.style.display = row.style.display === 'none' || row.style.display === '' ? 'table-row' : 'none';
                        });

                        const icon = this.querySelector('.expand-icon');
                        icon.classList.toggle('glyphicon-chevron-down');
                        icon.classList.toggle('glyphicon-chevron-up');
                    }
                });
            });
        });

    </script>

</body>
</html>